In [3]:
employeeData <- read.csv('C:/Users/Kevin Uruena/Desktop/AIT580/EmployeeAttrition.csv')

In [4]:
head(employeeData)

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1 1                2         Life Sciences  1             1              ...
2 8                1         Life Sciences  1             2              ...
3 2                2         Other          1             4              ...
4 3                4         Life Sciences  1             5              ...
5 2                1         Medical        1             7              ...
6 2                2         Life Sciences  1             8              ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

1.1 Count the number of rows (records)

In [5]:
nrow(employeeData)

[1] 1470

1.1 Count the number of columns (attributes)

In [6]:
length(employeeData)

[1] 35

1.2 Unique JOBROLE in dataset

In [13]:
unique(data.frame(employeeData$JobRole))

   employeeData.JobRole
1  Sales Executive
2  Research Scientist
3  Laboratory Technician
9  Manufacturing Director
10 Healthcare Representative
19 Manager
22 Sales Representative
23 Research Director
80 Human Resources

1.3 What percent of total employees have TOTALWORKINGYEARS less than equal to 5

In [11]:
round(mean(employeeData$TotalWorkingYears <= 5) * 100, digits=2)

[1] 21.5

1.4 Find EMPLOYEENUMBER, EDUCATIONFIELD, JOBROLE for all employees whose age is greater than equal to 50 and ATTRITION is YES

In [12]:
subset(employeeData, Age >= 50 & Attrition == 'Yes', select = c(EmployeeNumber, EducationField, JobRole))

     EmployeeNumber EducationField   JobRole
37     47           Marketing        Sales Representative
123   161           Life Sciences    Research Scientist
127   165           Medical          Healthcare Representative
137   179           Life Sciences    Manufacturing Director
318   433           Medical          Research Scientist
529   723           Technical Degree Sales Executive
569   787           Medical          Manager
596   825           Life Sciences    Research Director
609   842           Medical          Sales Executive
661   918           Life Sciences    Laboratory Technician
701   977           Technical Degree Research Scientist
750  1038           Marketing        Manager
780  1081           Life Sciences    Research Scientist
802  1113           Other            Sales Executive
948  1319           Life Sciences    Sales Executive
967  1360           Medical          Manufacturing Director
976  1372           Marketing        Sales Executive
1112 1572           Technical Degree Manufacturing Director
1355 1907           Life Sciences    Laboratory Technician
1397 1968           Life Sciences    Sales Executive
1445 2032           Technical Degree Laboratory Technician
1453 2044           Life Sciences    Sales Executive
1462 2055           Marketing        Sales Executive

1.5 For each JOBROLE, find the average MONTHLYINCOME. Arrange the ouput in descending order

In [14]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [18]:
employeeData %>%
    group_by(JobRole) %>%
    summarize(AvgMonthlyIncome = mean(MonthlyIncome)) %>%
    arrange(desc(AvgMonthlyIncome))

  JobRole                   AvgMonthlyIncome
1 Manager                   17181.676
2 Research Director         16033.550
3 Healthcare Representative  7528.763
4 Manufacturing Director     7295.138
5 Sales Executive            6924.279
6 Human Resources            4235.750
7 Research Scientist         3239.973
8 Laboratory Technician      3237.170
9 Sales Representative       2626.000

1.6 Count the different MARITALSTATUS when ATTRITION is YES and AGE is greater than 35. Arrange the count in descending order

In [53]:
employeeData %>%
  dplyr::filter(Attrition == 'Yes' & Age > 35) %>%
  dplyr::group_by(MaritalStatus) %>%
  dplyr::count(MaritalStatus)  %>%
  dplyr::arrange(desc(n))

  MaritalStatus n
1 Married       33
2 Single        30
3 Divorced      14

1.7 For all the women employees having AGE between 55 and 60 and JOBLEVEL > 4, sort the DEPARTMENT from A to Z first and then EMPLOYEENUMBER in ascending order. Print only DEPARTMENT and EMPLOYEENUMBER in the output

In [74]:
employeeData %>%
       filter(Gender == "Female" & (Age > 55 & Age <= 60) & JobLevel > 4) %>%
       select(Department, EmployeeNumber)

  Department             EmployeeNumber
1 Human Resources         140
2 Research & Development  549
3 Research & Development 1191
4 Research & Development 1423

1.8 What are the correlations between Education, JobSatisfaction, and HourlyRate?

In [61]:
df<-subset(employeeData, select = c(Education, JobSatisfaction, HourlyRate))

In [62]:
cor(df, method = 'pearson')

                Education   JobSatisfaction HourlyRate
Education        1.00000000 -0.01129612      0.01677483
JobSatisfaction -0.01129612  1.00000000     -0.07133462
HourlyRate       0.01677483 -0.07133462      1.00000000

In [63]:
cor(df, method = 'spearman')

                Education    JobSatisfaction HourlyRate
Education        1.000000000 -0.005175469     0.01443190
JobSatisfaction -0.005175469  1.000000000    -0.06834017
HourlyRate       0.014431900 -0.068340173     1.00000000

In [64]:
cor(df, method = 'kendall')

                Education    JobSatisfaction HourlyRate
Education        1.000000000 -0.004297219     0.01091602
JobSatisfaction -0.004297219  1.000000000    -0.05178020
HourlyRate       0.010916021 -0.051780202     1.00000000

2.1 If the average of HourlyRate of all employees is equal to $65
H0 = the average HourlyRate is NOT equal to $65
H1 = the average HourlyRaye is equal to $65

In [65]:
t.test(employeeData$HourlyRate, mu = 65)
#P-Value > 0.05; we cannot reject Null Hypothesis H0: the average HourlyRate is not equal to $65

	One Sample t-test

data:  employeeData$HourlyRate
t = 1.6807, df = 1469, p-value = 0.09304
alternative hypothesis: true mean is not equal to 65
95 percent confidence interval:
 64.85106 66.93125
sample estimates:
mean of x
 65.89116

2.2  If the YearsAtCompany of Single is less than Married
H0 = YearsAtCompany of Single is greater than or equal to Married
H1 = YearsAtCompany of Single is less than Married

In [70]:
## Method 1
with(employeeData,
     t.test(YearsAtCompany[MaritalStatus == 'Single'],
            YearsAtCompany[MaritalStatus == 'Married']))
#P-Value < 0.05; we can reject the null hypothesis: YearsAtCompany of Single is greater than or equal to Married

	Welch Two Sample t-test

data:  YearsAtCompany[MaritalStatus == "Single"] and YearsAtCompany[MaritalStatus == "Married"]
t = -2.5824, df = 1040.8, p-value = 0.009946
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.6421284 -0.2240914
sample estimates:
mean of x mean of y
 6.374468  7.307578

2.3 If the JobSatisfaction of Attrition=Yes is less than Attrition=No.
H0 = JobSatisfaction of Attrition=Yes is greater or equal to Attrition=No
H1 = JobSatisfaction of Attrition=Yes is less than Attrition=No

In [71]:
with(employeeData,
     t.test(JobSatisfaction[Attrition == 'Yes'],
            JobSatisfaction[Attrition == 'No']))
#P-Value < 0.05; we can reject the null hypothesis: JobSatisfaction of Attrition=Yes is less than Attrition=No

	Welch Two Sample t-test

data:  JobSatisfaction[Attrition == "Yes"] and JobSatisfaction[Attrition == "No"]
t = -3.9261, df = 328.59, p-value = 0.0001052
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.4656797 -0.1547890
sample estimates:
mean of x mean of y
 2.468354  2.778589

2.4 If the MonthlyIncome of Manager is almost equal to Research Director in such
senior positions whose ages are greater than 40. 

H0 = MonthlyIncome of Manager is almost not equal to Research Director in such
senior positions whose ages are greater than 40

H1 = MonthlyIncome of Manager is almost equal to Research Director in such
senior positions whose ages are greater than 40

In [72]:
## Method 1
df1 <- subset(employeeData, JobRole == 'Manager' & Age > 40, select = c(MonthlyIncome))
df2 <- subset(employeeData, JobRole == 'Research Director' & Age > 40, select = c(MonthlyIncome))
nrow(df1)
nrow(df2)

[1] 84

[1] 53

In [73]:
t.test(df1, df2)
#P-Value > 0.05; we cannot reject Null Hypothesis H0: MonthlyIncome of Manager is almost not equal to Research Director in such
#senior positions whose ages are greater than 40

	Welch Two Sample t-test

data:  df1 and df2
t = 0.70664, df = 98.37, p-value = 0.4815
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -482.3103 1015.7878
sample estimates:
mean of x mean of y
 17488.06  17221.32